@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  background-color: whitesmoke;
  /* Esto es para todos los header de todas las páginas*/ }
  body header {
    overflow: hidden;
    backdrop-filter: blur(6px);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1vh; }
    body header .body__header__logo--resize {
      width: 17vh;
      height: 10vh; }
  body main {
    backdrop-filter: blur(6px); }
    body main #bienvenida {
      text-align: center;
      border-bottom: solid 1px darkgrey; }
    body main .Titulo_ppal {
      padding-top: 7vh;
      color: #524f4f;
      animation-duration: 4s;
      animation-iteration-count: 5;
      animation-name: bienvenidos; }
    body main .Titulo {
      color: #524f4f;
      animation-duration: 5s;
      animation-name: bienvenidos; }
    body main .banner {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5vh;
      transition: height 4s, width 4s; }

@keyframes bienvenidos {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    body main section #Servicios {
      text-align: center; }
    body main section .Titulo {
      color: #524f4f;
      text-align: center;
      margin-bottom: 5vh; }
    body main section article {
      display: grid;
      grid-template-columns: 50vh 50vh;
      grid-gap: 10px;
      justify-content: space-evenly;
      align-items: center; }
      body main section article div .icono {
        width: 20%;
        transition: height 1s, width 1s; }
      body main section article div .icono:hover {
        height: 25%;
        width: 25%; }
    body main h4 {
      display: block;
      text-align: center; }
  body footer {
    margin: 7vh; }

.noticias {
  margin: 40px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto;
  grid-gap: 20px;
  align-items: stretch; }

.noticias article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); }

.noticias article img {
  max-width: 100%; }

.texto {
  padding: 0 20px 20px; }

.texto button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%; }

#Div_img {
  margin: 20px auto;
  display: block;
  width: 30%;
  border-radius: 50%; }

.parrafo {
  font-size: 150%;
  line-height: 1.5;
  text-align: justify; }

#socios {
  margin: 5px;
  display: block;
  border: 1px solid black; }

#contactanos {
  display: block;
  text-align: center; }
  #contactanos .formulario {
    padding-top: 5vh;
    align-self: center; }
